* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-bottom: 83px;
}
header {
  max-width: 1440px;
  height: 78px;
  padding: 0 143px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 185px;
  height: 32px;
}
.links-buttom {
  display: flex;
  align-items: center;
}
.links {
  margin-right: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}
button {
  cursor: pointer;
}
.sign {
  height: 46px;
  width: 110px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #2f281e;
}
.in {
  margin-right: 14px;
  background-color: white;
  color: #173a56;
  border: 1px solid #bcd0e5;
}
.up {
  background-color: #ff9900;
  border: 1px solid #ff9900;
  color: white;
}
.in:hover {
  background-color: #ff9900;
  color: white;
}
.up:hover {
  background-color: #fff;
  color: #173a56;
}
a {
  text-decoration: none;
  color: black;
}

.block-1 {
  height: 494px;
  width: 1125px;
  margin-left: 145px;
  margin-top: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: left;
}
.text-1 {
  height: 95px;
  width: 458px;
  left: 145px;
  top: 349px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #544837;
}
.start {
  height: 53px;
  width: 175px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  background-color: #ff9900;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.video {
  margin-left: 30px;
}
footer {
  margin: 0 auto;
  width: 1109px;
  padding: 160px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logo-finish {
  padding-bottom: 173px;
}
ul {
  list-style: none;
}
.text-finish {
  height: 140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0px;
  text-align: left;
}
.finish {
  background-color: #ff9900;
  border: 1px solid #ff9900;
  color: white;
  height: 39px;
  width: 131px;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

form {
  width: 325px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
input {
  width: 100%;
  height: 48px;
  padding-left: 15px;
}

/*.container {
    width: 700px;
    height: 350px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.item {
    width: 200px;
    height: 100px;
    background-color: red;
}*/
