
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./font/Gilroy-Bold.ttf) format('truetype'),
    url(./font/Gilroy-Medium.ttf)
}
body {
    margin: 0;
    padding: 0 250px;
}
h1,
h2,
h3,
h4,
p {
    margin: 0;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Gilroy-Bold;
font-size: 18px;
font-weight: 400;
line-height: 22px;

}

.link {
    text-decoration: none;
    color: black;
  }
  a:hover {
      color: #828282;
  }
  .home {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  h1 {
    height: 118px;
    width: 123px;
    font-family: Gilroy-Bold;
font-size: 47px;
font-weight: 400;
line-height: 59px;
text-align: left;

  
    
  }
  .about-me {
    height: 44px;
    width: 155px;
    font-family: Gilroy-Medium;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: left;

 
    
  }
  .lang {
      transform: rotate(270deg);
font-family: Gilroy-Bold;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;

  }
  .foto {
    height: 387px;
display: flex;
justify-content: center;
  }
  .block1 {
    height: 506px;
background-color: #F6F6F6;
text-align: center;

  }
h2 {
    font-family: Gilroy-Bold;
font-size: 34px;
font-weight: 400;
line-height: 42px;
padding-top: 120px;

}
.container {
    height: 218px;
width: 485px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding-top: 17px;



}
.about-me-CV {
    font-family: Gilroy-Medium;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: center;


}
.block2 {
    text-align: center;
}
.programs {
    margin-top: 69px;
    margin-bottom: 83px;
    font-family: Gilroy-Medium;
font-size: 18px;
font-weight: 400;
line-height: 22px;

}
.skills {
    display: inline-block;
}
.skills-container {
    margin-top: 24px;
    font-family: Gilroy-Bold;
font-size: 14px;
font-weight: 400;
line-height: 17px;
text-align: center;
color: #828282;
;

}
.star {
    margin-top: 40px;
}

.block3 {
    text-align: center;
}
.portfolio {
    padding-bottom: 47px;
}
.opisanie {
    margin-top: 44px;
    margin-bottom: 99px;
    font-family: Gilroy-Medium;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: center;

}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact {
    width: 145px;
    height: 43px;
    margin-bottom: 20px;
}
.contacts-paragraph {
    height: 44px;
width: 275px;
    font-family: Gilroy-Medium;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: center;
margin-bottom: 29px;

} 
button {
    height: 42px;
width: 180px;
border-radius: 50px;
background-color: black;
color: white;

}
.message {
    color: white;
    text-decoration: none;
    font-family: Gilroy-Bold;
font-size: 18px;
font-weight: 400;
line-height: 22px;
text-align: center;

}
.contacts-icon {
margin-top: 80px;
margin-bottom: 45px;

}
.icon {
    margin-right: 70px;
}
.contacts-opisanie {
    font-family: Gilroy-Medium;
font-size: 14px;
font-weight: 400;
line-height: 17px;
text-align: center;
color: #828282;
margin-bottom: 123px;

}