body {
  max-width: 1920px;
  height: 100vh;
  overflow: scroll;
  margin: 0;
  box-sizing: border-box;
}
header {
  top: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 1;
  background-color: white;
  padding: 0 20px;
}
.lang {
  height: 23px;
  width: 41px;
  /* left: 2840px;
  top: 1005px; */
  font-style: Black;
  font-size: 20px;
  line-height: 23px;
  line-height: 100%;
  /* text-align: Top; */
}
.doc {
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  line-height: 100%;
  text-align: top;
}
.logo {
  position: absolute;
  width: 243px;
  height: 55px;
  right: 60px;
  bottom: 0;
}
.all-tekst {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
main {
  width: 800px;
  margin-top: 60px;
  background-image: url(./assets/back.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  font-size: 18px;
}
aside {
  width: 600px;
  height: 478px;
  position: sticky;
  top: 50px;
}
ol {
  position: absolute;
  /* width: 285px; */
  /* height: 49.93px; */
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: black;
}
a {
  text-decoration: none;
  color: black;
}

h2 {
  scroll-margin-top: 60px;
}
